{
	email {$ACME_EMAIL}
}

(crowdsec_access_log) {
	log {
		output stdout
		format json
	}
}

{$JELLYFIN_DOMAIN} {
	import crowdsec_access_log
	reverse_proxy jellyfin:8096
}

{$JELLYSEERR_DOMAIN} {
	import crowdsec_access_log
	reverse_proxy jellyseerr:5055
}

{$NTFY_DOMAIN} {
	import crowdsec_access_log
	reverse_proxy ntfy:80
}

{$SHELFMARK_DOMAIN} {
	import crowdsec_access_log
	reverse_proxy shelfmark:8084
}
