{
	email {$ACME_EMAIL}
}

{$JELLYFIN_DOMAIN} {
	reverse_proxy jellyfin:8096
}

{$RADARR_DOMAIN} {
	reverse_proxy radarr:7878
}

{$SONARR_DOMAIN} {
	reverse_proxy sonarr:8989
}

{$BAZARR_DOMAIN} {
	reverse_proxy bazarr:6767
}

{$JELLYSEERR_DOMAIN} {
	reverse_proxy jellyseerr:5055
}

{$NTFY_DOMAIN} {
	reverse_proxy ntfy:80
}

{$SHELFMARK_DOMAIN} {
	reverse_proxy shelfmark:8084
}
