# Copy this file to:
#   ${CONFIG_ROOT}/ddclient/ddclient.conf
#
# Dynu supports Dynamic DNS updates through the dyndns2 protocol.
# Hostnames should be full FQDN values, one per line.

daemon=300
syslog=yes
pid=/var/run/ddclient/ddclient.pid
ssl=yes
use=web, web=checkip.dynu.com/, web-skip='IP Address'

protocol=dyndns2
server=api.dynu.com
login=PUT_YOUR_DYNU_USERNAME_HERE
password=PUT_YOUR_DYNU_PASSWORD_OR_IP_UPDATE_PASSWORD_HERE
your-hostname.dynu.net
